.main{

    .prodcut-list-heading{
        margin-top: 10px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    
    }

    .add-product-button{
        background-color: #28a745;
        border-radius: 10px;
        border: none;
        padding: 15px 30px;
        margin: 20px 28px;
        font-size: 24px;

    }
    .outer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;

        .product-card{
            display: grid;
            grid-gap: 10px;
            padding: 20px;
            color: white;
            background-color: black;
            border-radius: 10px;
            min-height: 320px;
            height: auto; 
            margin: 10px 20px;
            font-size: 24px;

            .prodcut-list-edit{
                background-color: rgb(87, 168, 87);
                padding: 10px 20px;
                font-size: 20px;
                border-radius: 10px;
                margin-right: 5px;
            }

            .prodcut-list-delete{
                background-color: tomato;
                padding: 10px 20px;
                font-size: 20px;
                border-radius: 10px;
            }
        }
    }
    
}

@media only screen and (max-width: 600px) {
    .add-product-button{
        background-color: #28a745;
        border-radius: 10px;
        border: none;
        padding: 15px 30px;
        margin: 20px 20px !important;
        font-size: 18px !important;

    }
    .outer{
        display: grid;
        grid-template-columns: 1fr !important;

        .product-card{
            display: grid;
            grid-gap: 10px;
            padding: 20px;
            color: white;
            background-color: black;
            min-height: 320px;
            height: auto; 
            margin: 5px 20px !important;
            font-size: 18px !important;
            

            .prodcut-list-edit{
                background-color: rgb(87, 168, 87);
                padding: 10px 20px;
                font-size: 15px !important;
                border-radius: 10px;
                margin-right: 5px;
            }

            .prodcut-list-delete{
                background-color: tomato;
                padding: 10px 20px;
                font-size: 15px !important ;
                border-radius: 10px;
            }
        }

    }

}